@model UsuarioModel

@{
    var nombre = Context.Session.GetString("Nombre");
}


<div class="row">
    <div class="col-12 col-lg-6 mx-auto">
        <div class="card bg-transparent m-0">
            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <div class="avatar avatar-2xl">
                        <img src="~/images/security-logo.png" alt="Logo">
                    </div>

                    <h3 class="mt-3">@nombre</h3>
                    <p class="text-small">Junior Software Engineer</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-body">

                @if (ViewBag.MensajeSeguridad != null)
                {
                    <div class="alert alert-info alert-dismissible show fade text-center mb-4">
                        @ViewBag.MensajeSeguridad
                    </div>
                }

                <form id="SeguridadForm" asp-action="CambiarContrasenna" asp-controller="Usuario" method="post">

                    <div class="form-group">
                        <label for="Contrasenna" class="form-label">Contraseña Nueva</label>
                        <input asp-for="Contrasenna" type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ConfirmarContrasenna" class="form-label">Confirmar Contraseña</label>
                        <input asp-for="ConfirmarContrasenna" type="password" class="form-control">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Procesar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-body">

                @if (ViewBag.MensajePerfil != null)
                {
                    <div class="alert alert-info alert-dismissible show fade text-center mb-4">
                        @ViewBag.MensajePerfil
                    </div>
                }

                <form id="PerfilForm" asp-action="CambiarPerfil" asp-controller="Usuario" method="post">

                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="Identificacion" class="form-label">Identificación</label>
                            <input asp-for="Identificacion" type="text" class="form-control">
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label for="Nombre" class="form-label">Nombre</label>
                            <input asp-for="Nombre" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CorreoElectronico" class="form-label">Correo Electrónico</label>
                        <input asp-for="CorreoElectronico" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Procesar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>



<script src="~/js/configuracion.js" asp-append-version="true"></script>